.icon-back:after, .icon-prev:after, .icon-forward:after, .icon-next:after {
    font-size: inherit;
}
// dialog
.dialog.dialog-preloader {
    display: flex !important;
    align-items: center;
    justify-content: center;
    --f7-dialog-width: 100px;
    --f7-dialog-preloader-size: 30px;
    height: var(--f7-dialog-width);
    .dialog-title {
        --f7-dialog-title-font-size: 15px;
        --f7-dialog-title-font-weight: 400;
    }
}
.list li, .link, .item-content,.stepper-button-plus,.stepper-button-minus {
    overflow: hidden;
}
.menu {
    .menu-inner {
        flex-wrap: wrap;
    }
}

// popover
.popover-inner {
    position: relative;
    z-index: 120;
}
.ios .popover-angle.on-top {
    top: -22px;
}
.ios .popover-angle.on-bottom {
    top: 98%;
}
.ios .popover-angle:after {
    border-radius: 2px;
}